.command {
	width: 100px;
	height: 150px;
	color: white;
	border: 5px double white;
	border-radius: 12px;
	padding-top: 5px;
	padding-left: 20px;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	
}

img {
	position: absolute;
}

body {
	background-color: black;
}